* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", system-ui, sans-serif;
}

nav > ul {
  height: 2em;
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 1.5em;
  margin: 0 1em;
  list-style-type: none;
}

#search {
  display: flex;
  height: 80%;
  align-items: center;
}

#search_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

#search_input > img {
  width: 30em;
}

#search_input > input[type="text"] {
  width: 30em;
  line-height: 2em;
  font-size: 1em;
  border-radius: 1em;
  padding-left: 0.7em;
  font-family: inherit;
}

#search_input > input[type="submit"] {
  width: 10em;
  height: 2em;
  font-family: inherit;
}

th {
  text-align: left;
}

th,
td {
  padding-left: 1em;
}

td {
  padding-top: 1em;
}

.advanced_input {
  width: 50vw;
  height: 1em;
  padding: 1em 1em;
  font-family: "Roboto", system-ui, sans-serif;
}

.sub_header {
  font-weight: inherit;
}

#advanced_submit {
  text-align: right;
}

#advanced_submit > input {
  height: 2em;
}
